extends ../layout/index

block contenido
  div.py-10
      h1.text-center.text-2xl.font-extrabold= pagina

      <div class="container mx-auto">
         <div class="grid grid-cols-2 gap-10">
             <div>01</div>
             <div>02</div>
             <div>03</div>
             <div>04</div>
             <div>05</div>
             <div>06</div>
             <div>07</div>
             <div>08</div>
             <div>09</div>
         </div>
      </div>
        
                        
  